<section class="home-section">
  <h2>Area de estadísticas</h2>
  <section class="cards">
    <section class="titulo">
      <h3>Estudiantes</h3>
    </section>
    <section class="cards-row">
      <section class="card">
        <app-card
          [labels]="['Estudiantes']"
          [label]="'Estudiantes registrados'"
          [nro]="(nroStudents | async) || []"
          [backgroundColor]="'#42A5F5'"
          [hoverColor]="'#1E9832'"
        ></app-card>
      </section>
      <section class="card">
        <app-card
          [labels]="['Estudiantes']"
          [label]="'Estudiantes Activos'"
          [nro]="(studentsActives | async) || []"
          [backgroundColor]="'#1E9832'"
          [hoverColor]="'#374635'"
        ></app-card>
      </section>
    </section>
    <!-- Botón de Students -->
    <section class="btn-home">
      <button mat-raised-button color="primary" (click)="goTo('students')">Ir</button>
    </section>

    <mat-divider></mat-divider>
    <section class="titulo">
      <h3>Profesores</h3>
    </section>
    <section class="cards-row">
      <section class="card">
        <app-card
          [labels]="['Profesores']"
          [label]="'Profesores'"
          [nro]="(nroTeachers | async) || []"
          [backgroundColor]="'#42A5F5'"
          [hoverColor]="'#1E9832'"
        ></app-card>
      </section>
      <section class="card">
        <app-card
          [labels]="['Profesores']"
          [label]="'Profesores Asignados'"
          [nro]="(teachersAssigned | async) || []"
          [backgroundColor]="'#1E9832'"
          [hoverColor]="'#374635'"
        ></app-card>
      </section>
    </section>

    <!-- Botón de Teachers -->
    <section class="btn-home">
      <button mat-raised-button color="primary" (click)="goTo('teachers')">Ir</button>
    </section>

    <mat-divider></mat-divider>
    <section class="titulo">
      <h3>Cursos</h3>
    </section>
    <section class="cards-row">
      <section class="card">
        <app-card
          [labels]="['Cursos']"
          [label]="'Cursos'"
          [nro]="(nroCourses | async) || []"
          [backgroundColor]="'#42A5F5'"
          [hoverColor]="'#1E9832'"
        ></app-card>
      </section>
      <section class="card">
        <app-card
          [labels]="['Cursos']"
          [label]="'Cursos no asignados'"
          [nro]="(coursesNotAssigned | async) || []"
          [backgroundColor]="'#DF3434'"
          [hoverColor]="'#F16B6B'"
        ></app-card>
      </section>
    </section>

    <!-- Botón de Courses -->
    <section class="btn-home">
      <button mat-raised-button color="primary" (click)="goTo('courses')">Ir</button>
    </section>

    <mat-divider></mat-divider>


  </section>
</section>
